.app__menuItem {
    width: 100%;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
}

.app__menuItem>div{
    margin: 2rem 0 2rem 0;
}

/* .app__menuItem-head:first-child{
    margin-top: 1rem;
} */

.app__menuItem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.app__menuItem-tags {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menuItem-name {
    flex: 1;
}

.app__menuItem-dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menuItem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}